In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Object Creation

See the [Data Structure Intro section](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dsintro).

Create a **Series** by passing a list of values, letting pandas create a default integer index:

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Creating a **DataFrame** by passing a numpy array, with a datetime index and labeled columns:

In [4]:
dates = pd.date_range('20130101', periods = 6)

In [5]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index = dates, columns = list('ABCD'))

In [7]:
df

                   A         B         C         D
2013-01-01  0.990858 -0.912461 -0.392278 -1.219955
2013-01-02 -1.461011 -0.267232  0.768745 -0.479731
2013-01-03 -0.209402 -1.962554 -1.774926  1.983282
2013-01-04  1.800437  0.878244 -0.066899  0.029492
2013-01-05 -2.666028  0.145219  0.591517  0.825627
2013-01-06 -0.518519  0.349846  0.259039  0.688738